.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 98vh;
}

header {
    width: 100%;
    background-color: brown;
    align-items: center;
    margin-bottom: 10px;
}

.secondWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    width: 100%;
}

nav {
    margin-right: 10px;
    width: 20%;
    background-color: aliceblue;
    height: 100%;
}

section {
    width: 80%;
    background-color: blue;
    height: 100%;
}